.App {
  width: 80%;
}
h1 {
  text-align: center;
}
.Title {
  display: flex;
  justify-content: center;
}
.List-emoji {
  list-style: none;
  width: 100%;
}
li {
  /* display: left; */
  display: flex;
  border-bottom: 2px solid skyblue;
}
li:hover {
  background-color: skyblue;
}
.TextColor {
  color: white;
}
li:hover.TextColor {
  color: skyblue;
}
li img {
  display: left;
  padding-right: 20px;
}
input {
  margin-left: 40px;
  width: 100%;
  height: 69px;
}

.ImgWidth {
  width: 7%;
}
